<!-- Following HTML is created to display dummy form fields, to be used with static data implementation -->
<form role="form" id="myForm">
    <div class="form-group col-sm-12">
        <label for="ddlBranch">Branch</label>
        <select class="form-control" id="ddlBranch">
            <option>Test Branch</option>
            <option>Test Branch 1</option>
            <option>Test Branch 2</option>
            <option>Test Branch 3</option>
            <option>Test Branch 4</option>
        </select>
    </div>
    <div class="form-group col-sm-12">
        <label for="ddlControlBranch">Control Branch</label>
        <select class="form-control" id="ddlControlBranch">
            <option>Test Control Branch</option>
            <option>Test Control Branch 1</option>
            <option>Test Control Branch 2</option>
            <option>Test Control Branch 3</option>
            <option>Test Control Branch 4</option>
        </select>
    </div>
    <div class="form-group col-sm-12">
        <input type="text" ng-model="TestData.Name" />
    </div>
</form>
