<!-- Following HTML is created to display dummy form fields, to be used with static data implementation -->
<form role="form" id="myForm">
    <div class="form-group col-sm-12">
        <label for="ddlEntity">Entity</label>
        <select class="form-control" id="ddlEntity">
            <option>Close corporation</option>
            <option>Test Entity 1</option>
            <option>Test Entity 2</option>
            <option>Test Entity 3</option>
            <option>Test Entity 4</option>
        </select>
    </div>

    <div class="form-group col-sm-12">
        <label for="ddlGroup">Group </label>
        <select class="form-control" id="ddlGroup">
            <option>Test Group</option>
            <option>Test Group 1</option>
            <option>Test Group 2</option>
            <option>Test Group 3</option>
            <option>Test Group 4</option>
        </select>
    </div>

    <div class="form-group col-sm-12">
        <input type="text" ng-model="TestData.Name" />
    </div>
</form>
