<!-- Following HTML is created to display dummy form fields, to be used with static data implementation -->
<form role="form" id="myForm">
    <div class="form-group col-sm-12">
        <label for="txtRegNumber">Reg. number</label>
        <input type="text" class="form-control" id="txtRegNumber" placeholder="Reg number" ng-model="regNumber">
    </div>

    <div class="form-group col-sm-12">
        <label for="txtRelationManager">Relationship Manager</label>
        <input type="text" class="form-control" id="txtRelationManager" placeholder="Relationship Manager" ng-model="relationshipManager">
    </div>

    <div class="form-group col-sm-12">
        <input type="text" ng-model="TestData.Name" />
    </div>
</form>
