<!-- Following HTML is created to display dummy form controls as per the existing application screens, used with static data -->
<!--<div>
    <form role="form" id="myForm">
        <div class="form-group col-sm-6">
            <label for="txtCIFKey">CIF key</label>
            <input type="text" class="form-control" id="txtCIFKey" placeholder="CIF Key" ng-model="cifKey">

        </div>
        <div class="form-group col-sm-6">
            <label for="txtCIFData">CIF Data</label>
            <input type="text" class="form-control" id="txtCIFData" placeholder="CIF Data" ng-model="cifData">
        </div>

        <div class="form-group col-sm-6">
            <label for="txtClient">Client </label>
            <input type="text" class="form-control" id="txtClient" placeholder="Client" name="client" ng-model="client">
        </div>

        <div class="form-group col-sm-6">
            <label for="ddlEntity">Entity</label>
            <select class="form-control" id="ddlEntity">
                <option>Close corporation</option>
                <option>Test Entity 1</option>
                <option>Test Entity 2</option>
                <option>Test Entity 3</option>
                <option>Test Entity 4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="ddlGroup">Group </label>
            <select class="form-control" id="ddlGroup">
                <option>Test Group</option>
                <option>Test Group 1</option>
                <option>Test Group 2</option>
                <option>Test Group 3</option>
                <option>Test Group 4</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label for="txtRegNumber">Reg. number</label>
            <input type="text" class="form-control" id="txtRegNumber" placeholder="Reg number" ng-model="regNumber">
        </div>

        <div class="form-group col-sm-6">
            <label for="txtRelationManager">Relationship Manager</label>
            <input type="text" class="form-control" id="txtRelationManager" placeholder="Relationship Manager" ng-model="relationshipManager">
        </div>
        <div class="form-group col-sm-6">
            <label for="txtSubstitutedTo">Substituted To</label>
            <input type="text" class="form-control" id="txtSubstitutedTo" placeholder="Substituted To" ng-model="substitutedTo">
        </div>

        <div class="form-group col-sm-6">
            <label for="ddlBranch">Branch</label>
            <select class="form-control" id="ddlBranch">
                <option>Test Branch</option>
                <option>Test Branch 1</option>
                <option>Test Branch 2</option>
                <option>Test Branch 3</option>
                <option>Test Branch 4</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label for="ddlControlBranch">Control Branch</label>
            <select class="form-control" id="ddlControlBranch">
                <option>Test Control Branch</option>
                <option>Test Control Branch 1</option>
                <option>Test Control Branch 2</option>
                <option>Test Control Branch 3</option>
                <option>Test Control Branch 4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="txtEmail">Email</label>
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group col-sm-6">
            <label for="txtNumber">Number</label>
            <input type="text" class="form-control" id="txtNumber" placeholder="Number" ng-model="number">
        </div>
        <div class="form-group col-sm-12">
            <input type="text" ng-model="TestData.Name" />
        </div>
    </form>
</div>-->
<!-- Following HTML is created to load the tabs, used with static data -->
<!--<tabs data="tabSettingsData" type="pills"></tabs>-->
