<!-- Following HTML is created to display header, to be used with both generic + static data implementation -->
<nav class="navbar navbar-default headerStyle">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand icon-style">
                <img src="../images/absa.png" />
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="user">User</a>
            </li>
        </ul>
    </div>
</nav>